* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* border: 1px solid black; */
}

/* HEADER STYLING */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgreen;
    padding: 0 10px 0 10px;
    height: 8vh;
}

header nav {
    display: flex;
    align-self: flex-end;
}

header nav * {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 150%;
    height: auto;
}

header nav *:hover:not(.active){
    color: goldenrod
}

.active {
    background-color: goldenrod;
    border-radius: 5px 5px 0 0;
}

/* UNIVERSAL PAGE STYLING */
main {
    background-color: goldenrod;
    border: 10px solid goldenrod;
    min-height: 85vh;
}

section.page {
    background-color:lightgray;
    border-radius: 5px;
    padding: 15px;
    display: flex;
}

h2.title {
    white-space: nowrap;
    padding: 10px;
    border-right: 5px solid black;
}

/* ABOUT STYLING */

.about-main {
    padding: 10px;
}

.about img {
    width: 300px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
    background-color: darkgreen;
}

.currents {
    line-height: 25px;
    margin: 10px 0;
    padding: 0 10px;
    border-left: 1px solid black;
}

.currents p {
    padding-left: 10px;
}

/* PORTFOLIO STYLING */
.portfolio-main {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    border: 1px solid black;
    width: 45%;
    margin: 5px;
}


/* FOOTER STYLING */

footer {
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    height: 7vh
}

footer a {
    padding: 10px;
    color: black;
}

/* MEDIA QUERIES */

